*{   
    font-family: 'Montserrat', sans-serif;

       


 }
body{
    background-color: #0E89AD;
}
 header{
    margin: 15px;
    padding: 1rem;
    border-radius: 10%;
    display: flex;

    justify-content: space-between;
    text-align: center;
 
    background-image: url("68.jpg");
    }



.button{
    display: flex;
    justify-content: flex-center;
    cursor: pointer;
    
}


button:hover{
 
    box-shadow: 5px 5px 10px;
    }

.imagen{ 
    display: flex;
    justify-content: center;
    border-radius: 10%;
}

.container-xxl{
    text-align: center;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;
    background-color: #19BDFF;
    border: 2px solid black;
    }


.btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h1{
    color: white
    }

h2{
    background: lightskyblue ;
    border-radius: 10%;
    border: 2px solid black;
}

